
.container {
    height: 150vh;
  }
  
  .card {
    margin-bottom: 20px;
    margin-top: 20px;
  }
  
  .button {
    width: 100%;
  }
  
  .logo {
    width: 200px;
  }
  
  .profile {
    margin-top: 15px;
   float: right;
  }